body, html {
  height: 100%;
}

body {
  overflow-x: hidden;
}





/* ############ header image ################# */
.parallax {
  /* The image used */
  background-image: url('assets/header2.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

div.parallax h1 {
  font-size: 65px;
  color: white;
  padding-top: 220px;
  text-transform: capitalize;
  animation-name: fade-in;
  animation-duration: 1s;
}

div.parallax h5 {
  color: rgba(255, 255, 255, 0.671);
  line-height: 2rem;
  opacity: 0;
  animation-name: fade-in1;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  

}

div.parallax button.btn-lg {
  border-radius: 30px;
  font-size: x-large;
  padding: 10px 20px;
  margin-left: 15px;
  margin-top: 50px;
  opacity: 0;
  animation-name: fade-in-btn;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  
}

div.parallax button.outline {
  color: white;
  border-color: white;
}

div.parallax button.outline:hover {
  color:black;
  background-color: white;
}


/*############## Features ###############*/

h1.great-features {
  opacity: 0;
  color: rgb(36, 36, 36);
  text-transform: capitalize;
  padding-top: 60px;
 
}


h1.great-anim {
  animation-name: fade-in2;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  opacity: 0;
  

}


p.features-anim {
  animation-name : fade-in3;
  animation-duration: 1.3s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  opacity: 0;
}



img.photo {
  height: 100%;
  width: 100%;
}
div.high {
  margin-top: 100px;
  margin-bottom: 50px;
}
i.fa-server {
  padding-bottom: 35px;
  color: #00a8e8;
}

i.fa-rocket {
  padding-bottom: 35px;
  color: #ff792e;
}

i.fa-money-check {
  padding-bottom: 35px;
  color: #6eb155;
}

i.fa-anim {
  opacity: 0;
  animation-name : fade4;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  
}


h3.h3-anim {
  animation-name : fade4;
  animation-duration: 1.5s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

p.p-anim {
  animation-name : fade5;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}



h1.about-anim {
  animation-name : fade6;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;

}

div.ipad {
  width: 100%;
  padding-left: 200px;
  background-color: #f5f3f4;
}
  

div.grey-col {
  background-color: #f5f3f4;
}


div.gray-container {
  padding-top: 100px;
  line-height: 1.5rem;
  margin-right: 150px;
  min-width: 100%;
}




button.btn-ipad {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  font-size: 23px;

}

  button.btn-ipad:hover{
    background: #7474BF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }






@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
  }

  
@keyframes fade-in1 {
  0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
  }



  @keyframes fade-in-btn {
    0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
    }




@keyframes fade-in2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
  }



  @keyframes fade-in3 {
    0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
    }



    @keyframes fade4 {
      0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
      }

      @keyframes fade5 {
        0% {
          opacity: 0;
          transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
        }



        @keyframes fade6 {
          0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
          }


  




    
    
    .pricing .card {
      border: none;
      border-radius: 1rem;
      transition: all 0.2s;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      background-color: white;

    }
    
    section.pricing {
      background-color: #f8f9fa;
    }



    li.no-style {
      list-style: none;
    }

    h1.free-pack {
      font-size: 70px;
      padding-bottom: 30px;
    }
    p.extra-space {
      padding-bottom: 20px;
    }
    h5.basic {
      color: rgb(73, 73, 73);
      padding-right: 10px;
      padding-top: 15px;
    }
    
    .pricing hr {
      margin: 1.5rem 0;
    }
    
    .pricing .card-title {
      margin: 0.5rem 0;
      font-size: 0.9rem;
      letter-spacing: .1rem;
      font-weight: bold;
    }
    
    .pricing .card-price {
      font-size: 3rem;
      margin: 0;
    }
    
    .pricing .card-price .period {
      font-size: 0.8rem;
    }
    
    .pricing ul li {
      margin-bottom: 1rem;
    }
    
    .pricing .text-muted {
      opacity: 0.7;
    }
    
    a.btn-wide {
      width: 50%;
    }

    
    .pricing .btn {
      font-size: larger;
      border-radius: 5rem;
      letter-spacing: .1rem;
      font-weight: bold;
      padding: 1rem;
      opacity: 0.7;
      transition: all 0.2s;
    }



    /* newsletter */

    .newsletter {
      padding: 80px 0;
      }
      
      .newsletter .content {
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      z-index: 2; }
      .newsletter .content h2 {
      color: white;
      margin-bottom: 40px; }
      .newsletter .content .form-control {
      height: 50px;
      border-color: #ffffff;
      border-radius:25px;
      }

      .newsletter .content.form-control:focus {
      box-shadow: none;
      }
      .newsletter .content .btn {
      min-height: 50px; 
      border-radius:25px;
      margin-left: 20px;
    
      background-color: whitesmoke;
      font-weight:600;
      }
    
    /* Hover Effects on Card */
    
    @media (min-width: 992px) {
      .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
      }
      .pricing .card:hover .btn {
        opacity: 1;
      }
    }







    .parallax2 {
      /* The image used */
      background-image: url('assets/tim-peterson-DIXLIEDfkPg-unsplash.jpg');
    
      /* Full height */
      height: 50%; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
    }

    div.parallax2 h1 {
      color:white ;
    }
    


      @media only screen and (max-width: 600px) {
        
      

        
        img.ipadpro-img {
          margin: auto 5px;
          float: center;
        }
        button.btn-ipad {
          background: #7474BF;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          color: white;
          margin-bottom: 30px;
          
        }
        img.ipadpro-img {
          margin-left: -150px;
        }

        h1.move-up, h5.move-up, button.move-up {
          position: relative; top:-100px;
          
        }
        
          * {
            animation-name: none;
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -o-transition: none !important;
            -ms-transition: none !important;
            transition: none !important;
           }


           
         
          
         }

      


      @media only screen and (max-width: 985px) {


        div.arabic-container {
          margin: auto 5px;
          float: center;
        }
        
        div.grey-col {
          min-width: 100%;
        }
        button.btn-ipad {
          margin-bottom: 30px;
        }
        img.ipadpro-img {
          margin-left: -150px;
        }

        div.grey-row {
          direction: ltr !important;
        }

       }


       @media only screen and (max-width : 768px) {
        .animated {
          /*CSS transitions*/
          -o-transition-property: none !important;
          -moz-transition-property: none !important;
          -ms-transition-property: none !important;
          -webkit-transition-property: none !important;
          transition-property: none !important;
          /*CSS transforms*/
          -o-transform: none !important;
          -moz-transform: none !important;
          -ms-transform: none !important;
          -webkit-transform: none !important;
          transform: none !important;
          /*CSS animations*/
          -webkit-animation: none !important;
          -moz-animation: none !important;
          -o-animation: none !important;
          -ms-animation: none !important;
          animation: none !important;
        }

        i.fa-server {
          padding-bottom: 35px;
          color: #00a8e8;
          opacity: 1;
        }
        
        i.fa-rocket {
          padding-bottom: 35px;
          color: #ff792e;
          opacity: 1;
        }
        
        i.fa-money-check {
          padding-bottom: 35px;
          color: #6eb155;
          opacity: 1;          
        }


        h3.h3-anim {
          opacity: 1;
        }
        
        p.p-anim {
          opacity: 1;
        }
      }
      